---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import FeaturedArticle from '../components/Article/FeaturedArticle.astro';
import ArticlePreview from '../components/Article/ArticlePreview.astro';
import ContentUpdates from '../components/ContentUpdates.astro';
import RelatedLinks from '../components/RelatedLinks/RelatedLinks.astro';

let serviceName = "Climate Change";

let title = "Articles"
let description = "See a list of articles related to Climate Change"
let permalink = "https://climate-change.data.gov.uk/articles";

const breadcrumbs = [{ "name": "Home", "href": "/" }];

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.fetchContent('./articles/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// export async function getStaticPaths({rss}) {
//     rss({
//         title: serviceName,
//         description: description,
//         items: allPosts.map(item => ({
//             title: item.title,
//             description: item.description,
//             link: item.permalink,
//             pubDate: item.publishDate
//         }))
//     });
// }
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<Header serviceName={serviceName} alternativeAccent={false} />

        <section class="featured-article">
            <div class="govuk-container">
                <Breadcrumbs breadcrumbs={ breadcrumbs } />

                <h1 class="heading-xl">Articles</h1>

                <!-- Make the latest article featured -->
                <FeaturedArticle article={[...allPosts][0]} />
            </div>
        </section>

        <!-- Skip the first article and provide a summary -->
        <div class="govuk-container">
            <div class="layout">
                <section class="articles">
                    {allPosts.slice(1).map((article) => (
                        <ArticlePreview article={article} />
                    ))}
                </section>
                <aside>
                    <ContentUpdates />
                    <RelatedLinks />
                </aside>
            </div>
        </div>
	</body>
</html>

<style>
    .featured-article {
        background-color: var(--color-light-grey);
        padding: 72px 0 56px;
        margin-bottom: 56px;
    }

    .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 48px;
    }

    .featured-article h1 {
        margin-bottom: 56px;
    }

    .articles h1, .related-links h1 {
		margin-bottom: 24px;
        clear: both;
	}

	.border-top {
		border-top: 4px solid var(--color-brand);
		padding-top: 16px;
	}

    aside section {
        margin-bottom: 48px;
    }
</style>