---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import ArticleSummary from '../components/Article/ArticleSummary.astro';
import RelatedLinks from '../components/RelatedLinks/RelatedLinks.astro';
import OverviewTile from '../components/OverviewTile.astro';
import OverviewTiles from '../data/overviewTiles.json';

let serviceName = "Climate Change";

// All variables are available to use in the HTML template below.
let title = "Climate Change";
let description = "Welcome to the Climate change portal";
let permalink = "https://climate-change.data.gov.uk";

// Hero content
let heading = "Measuring greenhouse gas emissions";
let subheading = "The UK is required to report its estimated greenhouse gas (GHG) emissions on a range of different bases to fulfil a wide range of international agreements as well as for domestic policy making purposes.";
let callToAction = "Read the article";
let href = "/articles/measuring-uk-greenhouse-gas-emissions/"

// Data Fetching: List all Markdown posts in the repo.
let allPosts = await Astro.fetchContent('./articles/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>

	<body>
		<Header serviceName={serviceName} alternativeAccent={true} />

		<Hero heading={heading} description={subheading} callToAction={callToAction} href={href} heroImage="/images/earth.svg" />

		<div class="govuk-container">
			<main>
				<section class="overview">
					{OverviewTiles.map((tile) => (
						<OverviewTile subheading={ tile.subheading } heading={ tile.heading } chartImg={ tile.chartImg } link={ tile.link } />
					))}
				</section>
				<div class="content">
					<section class="articles" aria-label="Blog post list">
						<h1 class="heading-l">Articles</h1>
						{allPosts.map((article) => <ArticleSummary article={article} />)}
						<a href="/articles">View all articles</a>
					</section>

					<RelatedLinks />
				</div>
			</main>
		</div>

		<Footer />
	</body>
</html>

<style>
	.overview {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-bottom: 64px;
		gap: 16px;
	}

	@media screen and (max-width: 1024px) {
		.overview {
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: 640px) {
		.overview {
			grid-template-columns: 1fr;
		}
	}

	main {
		margin-top: -48px;
	}

	.content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 48px;
	}

	@media screen and (max-width: 768px) {
		.content {
			display: block;
		}
	}

	.articles {
		margin-bottom: 56px;
	}

	.articles h1 {
		margin-bottom: 24px;
	}

	.articles a {
		text-decoration: none;
		font-family: 'GDS Transport Bold', sans-serif;
		font-weight: 700;
	}
</style>